<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>- Microblog</title>
    <link rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>