<%- include('header') %>
<div class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
  <a class="navbar-brand" href="/">Stock Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#indexNav" aria-controls="indexNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="indexNav">
    <ul class="navbar-nav">
      <li class="active nav-item"><a class="nav-link" href="/">homepage</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">login</a></li>
      <li class="nav-item"><a class="nav-link" href="/reg">register</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <%- include('components/home') %>
  <hr />
  <footer>
    <p><a href="https://blog.csdn.net/github_36487770" target="_blank">十方魔</a> 2018</p>
  </footer>
</div>
<%- include('footer') %>